{% extends 'base.html' %}
{% block body %}
<form method="post" class="flex three">
	<div class="one">
		<label>Device Path <input type='text' class="stack" name='device' 
					value="{{config['device']}}" /></label>
		<label>Channels File <input type='text' class="stack" name='channels_file' 
					value="{{config['channels_file']}}" /></label>
	</div>
	<h4 class="full">Banks</h4>
	<div class="one">
	{% for i in config['scanner']['banks'] %}
		<label>{{ config['scanner']['bank_names'][loop.index0] }}
			<input type='checkbox' name="bank_{{ loop.index }}" 
				{{ 'checked' if i else 'unchecked' }} />
			<span class="checkable"></span>
		</label><br />
	{% endfor %}
	</div>
	<h4 class="full">Outputs</h4>
	<div class="one">
		<h4>Telegram</h4>
		<label>Bot Token <input type='text' class="stack" 
			value="{{ config['outputs']['telegram']['token']}}" />
		</label>
		<label>Chat ID<input type="text" class="stack"
			value="{{ config['outputs']['telegram']['chat_id'] }}" />
		</label>
		<label>Enabled? <input type="checkbox" name='telegram_enabled'
				       {{ 'checked' if config['outputs']['telegram']['enabled']
				       else 'unchecked' }} /><span class="checkable" />
	</div>
	<div class="one">
		<h4>Discord</h4>
		<label>Webhook URL <input type="text" 
			value="{{ config['outputs']['discord']['webhook_url'] }}" /></label>
		<label>Enabled? <input type="checkbox" name="discord_enabled"
					{{ 'checked' if config['outputs']['discord']['enabled']
					else 'unchecked' }} /><span class="checkable" />
	</div>
	<div class="one">
		<h4>Database</h4>
		<label>URI <input type="text" /></label>
		<label>Enabled? <input type="checkbox" name="database_enabled"
					{{ 'checked' if config['outputs']['discord']['enabled']
					else 'unchecked' }} /><span class="checkable" />
	</div>
</form>
{% endblock %}
